[Unit]
Description=Automatically suspend to discourage late-night usage.

[Timer]
# Suspend every 15 minutes from midnight to 4 am
OnCalendar=*-*-* 00..04:00/15:00

[Install]
WantedBy=timers.target
