[submodule "src/config/fish/plugins/bass"]
	path = src/config/fish/plugins/bass
	url = https://github.com/edc/bass.git
[submodule ".config/i3blocks/i3blocks-contrib"]
	path = src/config/i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
