[user]
	name = Eric Langlois
	email = email@example.com
[color]
	ui = true
[core]
	editor = vim
[alias]
	tree = log --graph --oneline --all --decorate --author-date-order
	and-submodules = submodule update --init --recursive
	showtrackedignored = ls-files -i --exclude-standard
