*.swp
*.swo
*.pyc

.vim/bundle/*
!.vim/bundle/Vundle.vim

user.cfg

.Rprofile
.bash_aliases
.bash_profile
.bashrc
.config/fish/config.fish
.config/fish/functions/R.fish
.config/fish/functions/fish_prompt.fish
.config/flake8
.gitconfig
.gitignore_global
.hgrc
.profile
.pylintrc
.tmux.conf
.tmuxline.conf
.vimrc

Makefile-binaries
user_config.m4
env_config.m4
env/*.m4
