*.swp
*.swo
*.pyc

.vim/bundle/*
!.vim/bundle/Vundle.vim

user.cfg

.bash_aliases
.bash_profile
.bashrc
.config/fish/config.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/hostname-icon.fish
.config/fish/functions/pbcopy.fish
.config/fish/functions/pbpaste.fish
.config/fish/functions/R.fish
.config/fish/functions/torch-activate.fish
.config/flake8
.config/i3/config
.config/i3/config.local
.config/i3blocks/config
.config/locale.conf
.config/termite/config
.config/xss-lock/transfer-sleep-lock-i3lock.sh
.gitconfig
.gitignore_global
.hgrc
.latexmkrc
.profile
.pylintrc
.Rprofile
.ssh/config
.ssh/config.local
.theanorc
.tmux.conf
.tmuxline.conf
.toprc
.vimrc
.xbindkeysrc
.xinitrc
.Xmodmap
.xprofile
.Xresources

Makefile-binaries
user_config.m4
env_config.m4
env/*.m4
