*.swp
*.swo
*.pyc

.vim/bundle/*
!.vim/bundle/Vundle.vim

user.cfg

.bash_aliases
.bash_profile
.bashrc
.config/fish/config.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/pbcopy.fish
.config/fish/functions/pbpaste.fish
.config/fish/functions/R.fish
.config/fish/functions/tmuxm.fish
.config/fish/functions/torch-activate.fish
.config/flake8
.config/i3/config
.config/i3/config.local
.config/i3blocks/config
.config/i3blocks/scripts/battery-label
.config/locale.conf
.config/termite/config
.gitconfig
.gitignore_global
.hgrc
.profile
.pylintrc
.Rprofile
.ssh/config
.theanorc
.tmux.conf
.tmuxline.conf
.vimrc
.xbindkeysrc
.Xmodmap
.xprofile

Makefile-binaries
user_config.m4
env_config.m4
env/*.m4
