NAME=Firstname Lastname
EMAIL=email@example.com

# LANG: Locale language
LANG=en_CA
# LANGUAGE: Colon-separated list of understood languages for messages.
# Note: Often English is default and part of the "C" locale rather than "en"
LANGUAGE=en_CA:en_US:C:fr

LIGHTWEIGHT=false

# Install locations and XDG directories
# Shell variables like $HOME are not expanded
HOME=~
XDG_CONFIG_HOME=~/.config
XDG_CACHE_HOME=~/.cache
XDG_DATA_HOME=~/.local/share
LOCAL_PREFIX=~/.local
# Only used for installing system files with `make install-system`
SYSTEM_PREFIX=/

TERMINAL_FONT_SIZE=9
SCREENSAVER_TIMEOUT=600

# Whether to use powerline symbols.
# Requires a powerline font - a fallback powerline font is in data/fonts/
POWERLINE_SYMBOLS=true

# Configure Allowed Licenses
# All code distributed in this repository is licensed according to the root
# LICENSE file. However, additional code may be downloaded and installed. For
# example, Vim plugin code. These settings control which of the more
# controversial license (or lack thereof) are allowed.
ALLOW_LICENSE_AGPL=true
ALLOW_LICENSE_NONE=false
ALLOW_LICENSE_WTFPL=true

# Weather provided by OpenWeatherMap
# Uncomment and set these variables to get a weather report on the i3blocks
# status line. All of them must be uncommented for the report to show.

# Create a free account on openweathermap.org and copy-paste the API key they
# give you.
# OPEN_WEATHER_MAP_API_KEY=<your-key-here>

# Find a city ID by filling in your API key above and running
# utils/weather-city-id.py <City Name>
#
# Alternatively, use the query
# https://api.openweathermap.org/data/2.5/weather?q=<CITY>,<COUNTRY>&appid=<APIKEY>
# Where <CITY>, <COUNTRY>, and <APIKEY> are replaced with the city name,
# 2-letter country code, and your API key, respectively.
# Look for the top-level field "id" in the response, that is the city id.
# OPEN_WEATHER_MAP_CITY_ID=6167865

# Can be set to 'metric' or 'imperial'
# OPEN_WEATHER_MAP_UNITS=metric
