NAME=Firstname Lastname
EMAIL=email@example.com
LIGHTWEIGHT=false

# Whether to use powerline symbols.
# Requires a powerline font - a fallback powerline font is in .fonts
POWERLINE_SYMBOLS=true

# Weather provided by OpenWeatherMap
# Uncomment and set these variables to get a weather report on the i3blocks
# status line. All of them must be uncommented for the report to show.

# Create a free account on openweathermap.org and copy-paste the API key they
# give you.
# OPEN_WEATHER_MAP_API_KEY=<your-key-here>

# Find a city ID by filling in your API key above and running
# utils/weather-city-id.py <City Name>
#
# Alternatively, use the query
# https://api.openweathermap.org/data/2.5/weather?q=<CITY>,<COUNTRY>&appid=<APIKEY>
# Where <CITY>, <COUNTRY>, and <APIKEY> are replaced with the city name,
# 2-letter country code, and your API key, respectively.
# Look for the top-level field "id" in the response, that is the city id.
# OPEN_WEATHER_MAP_CITY_ID=6167865

# Can be set to 'metric' or 'imperial'
# OPEN_WEATHER_MAP_UNITS=metric
