NAME=Firstname Lastname
EMAIL=email@example.com
LIGHTWEIGHT=false

# Canadian weather - optional
# Province code and region number for weather.gc.ca
# Search for here http://weather.gc.ca/canada_e.html
# Look in the URL for the region number:
# weather.gc.ca/city/pages/<province>-<region>_metric_e.html
#CANADA_WEATHER_PROVINCE=on
#CANADA_WEATHER_REGION_NUMBER=143 # Toronto
